{% extends "PaginaWebApp/base.html" %} {%load static %} {% block content %}
<table class="table table-bordered" style="background-color: white; color: black;">
  <thead>
    <tr>
      <th colspam="3" class="text-center">Carro de compras</th>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Suma</th>
    </tr>
  </thead>

  <tbody>
    {% if request.session.carro.items %}
        {% for key, value in request.session.carro.items %}
    <tr class="text-center">
      <td>{{value.nombre}}</td>
      <td>{{value.cantidad}}</td>
      <td>{{value.precio}}</td>
    </tr>
        {% endfor %}
    {% endif %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total: $ {{importe_total_carro}}</td>
    </tr>
    {% if request.user.is_authenticated == True %}
    <tr>
      <td>
        <a href="" class="btn btn-sm btn-success"
          >Pagar</a
        >
      </td>
    </tr>
    {% endif %}

</table>

<script>
  // Agrega credenciales de SDK
    const mp = new MercadoPago('TEST-cf063386-7146-4a85-92b9-6cfcd9119ac1', {
          locale: 'es-AR'
    });
  
    // Inicializa el checkout
    mp.checkout({
        preference: {
            id: 'YOUR_PREFERENCE_ID'
        },
        autoOpen: true,
        render: {
              container: '.cho-container', // Indica el nombre de la clase donde se mostrará el botón de pago
              label: 'Pagar', // Cambia el texto del botón de pago (opcional)
        }
  });
  </script>
{% endblock %}
