{% extends "PaginaWebApp/base.html" %}

{%load static %}


{% block content %}

<div class="container">

  <div style="float: right;">
    {% include "carro/ionic_menu.html" %}

    {% include "carro/widget.html" %}

  </div>

  <div class="row">

  {% for producto in productos %}

    <div class="col-md-3">

      <div class= "card" style="width:100%; margin: 5px 5px;">

        <img src={{producto.imagen.url}} class="card-img-top">

          <div class="body" style="text-align:center;">

            <h7 class="card-body">{{producto.nombre}}</h7>

            <p class="card-text">${{producto.precio}}</p>


          </div>

          <div class="card-footer text-center">

            <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>

          </div>

      </div>

    </div>

  {% endfor %}

  </div>

</div>

{% endblock %}