<html>
  <head>
    {% load static %}
    <!--Title  -->
    <title>Vicsan Energy SRL</title>

    <!-- Bootstrap -->
    <link
      href="{% static 'PaginaWebApp/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <!-- Fonts -->

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i"
      rel="stylesheet"
    />

    <!-- flavicon -->
    <link rel="icon" href="{% static 'PaginaWebApp/img/Logo-Hoja.jpg' %}" />

    <!-- Styles -->
    <link href="{% static 'PaginaWebApp/css/gestion.css' %}" rel="stylesheet" />

    <!-- IONIC -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"
    ></script>
    <script
      nomodule
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <img src="{% static 'PaginaWebApp/img/main-logo.png'%}" />
      <!--<span class="site-heading-lower">VICSAN ENERGY</span>-->
    </h1>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a
          class="
            navbar-brand
            text-uppercase text-expanded
            font-weight-bold
            d-lg-none
          "
          href="{% url 'Home' %}"
          >VICSAN ENERGY</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li
              class="
                nav-item
                {%
                if
                request.path
                ==
                '/'
                %}
                active{%
                endif
                %}
                px-lg-4
              "
            >
              <a
                class="nav-link text-uppercase text-expanded"
                href="{% url 'Home' %}"
                >Inicio</a
              >
            </li>
            <li
              class="
                nav-item
                {%
                if
                request.path
                ==
                '/servicios/'
                %}
                active{%
                endif
                %}
                px-lg-4
              "
            >
              <a
                class="nav-link text-uppercase text-expanded"
                href="{% url 'Servicios' %}"
                >Servicios</a
              >
            </li>
            <li
              class="
                nav-item
                {%
                if
                request.path|slice:':8'
                ==
                '/tienda/'
                %}
                active{%
                endif
                %}
                px-lg-4
              "
            >
              <a
                class="nav-link text-uppercase text-expanded"
                href="{% url 'Tienda' %}"
                >Tienda</a
              >
            </li>
            <li
              class="
                nav-item
                {%
                if
                request.path|slice:':10'
                ==
                '/contacto/'
                %}
                active{%
                endif
                %}
                px-lg-4
              "
            >
              <a
                class="nav-link text-uppercase text-expanded"
                href="{% url 'Contacto' %}"
                >Contacto</a
              >
            </li>
            <li
              class="
                nav-item
                {%
                if
                request.path|slice:':6'
                ==
                '/blog/'
                %}
                active{%
                endif
                %}
                px-lg-4
              "
            >
              <a
                class="nav-link text-uppercase text-expanded"
                href="{% url 'Blog' %}"
                >Blog</a
              >
            </li>
            {% if request.user.is_authenticated != True %}
            <li
              class="
                nav-item
                {%
                if
                request.path|slice:':10'
                ==
                '/register/'
                %}
                active{%
                endif
                %}
                px-lg-4
              "
            >
              <a
                class="nav-link text-uppercase text-expanded"
                href="{% url 'Register' %}"
                >Registrarse</a
              >
            </li>
            <li
              class="
                nav-item
                {%
                if
                request.path|slice:':7'
                ==
                '/login/'
                %}
                active{%
                endif
                %}
                px-lg-4
              "
            >
              <a
                class="nav-link text-uppercase text-expanded"
                href="{% url 'Login' %}"
                >Login</a
              >
            </li>
            {% endif %}
          </ul>
          {% if request.user.is_authenticated == True %}
          <span class="hello-msg">Hola, {{request.user}} </span>
          <span><a class="hello-msg" href="{% url 'Logout' %}">Logout</a></span>
          {% endif %}
        </div>
      </div>
    </nav>

    <!-- Contenido cambiante-->
    <div class="container">{% block content %} {% endblock %}</div>
    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </p>
        <p class="m-0 mbt">
          <a href="sample.html" class="link">Política de privacidad</a> ·
          <a href="sample.html" class="link">Aviso legal</a> ·
          <a href="sample.html" class="link">Cookies</a>
        </p>
        <p class="m-0 mbt1">&copy; Gestión de Pedidos 2021</p>
      </div>
    </footer>

    <!-- Bootstrap -->
    <script src="{% static 'PaginaWebApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'PaginaWebApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
