<table class="table table-bordered" style="color: white">
  <thead>
    <tr>
      <th colspam="3" class="text-center">Carro de compras</th>
      <th>
        <a href="{% url 'carro:limpiar' %}" class="btn btn-sm btn-success"
          >Vaciar carrito</a
        >
      </th>
    </tr>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Suma</th>
    </tr>
  </thead>

  <tbody>
    {% if request.session.carro.items %}
        {% for key, value in request.session.carro.items %}
    <tr class="text-center">
      <td>{{value.nombre}}</td>
      <td>{{value.cantidad}}</td>
      <td>
        <a
          href="{% url 'carro:agregar' value.producto_id %}"
          class="btn btn-sm btn-success"
          >+</a
        >
        <a
          href="{% url 'carro:restar' value.producto_id %}"
          class="btn btn-sm btn-success"
          >-</a
        ><br />

        {{value.precio}}
      </td>
    </tr>
        {% endfor %}
    {% else %}
    <tr>
      <td colspam="3">
        <div class="alert alert-danger text-center">Sin productos.</div>
      </td>
    </tr>

    {% endif %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total: $ {{importe_total_carro}}</td>
    </tr>
    <tr>
      <td>
        <a href="{% url 'carro:limpiar' %}" class="btn btn-sm btn-success"
          >Comprar</a
        >
      </td>
    </tr>
  </tfoot>
</table>
